@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
	background-color: #FFF;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	min-height: 20em;
	min-width: 30em;
	padding: 0;
 }

#header {
	background: #3F51B5;
	color: white;
	font-size: 1em;
	font-weight: 300;
	margin: 0;
	padding: 1em;
 }

#note {
	background: #FFF;
	font-size: .8em;
	font-weight: 300;
	min-height: 20em;
	outline: 0px solid transparent;
	padding: 1.2em;
	white-space: pre;
 }
